h1#titre_form
{
    color: #000;
   
}

div#div-form
{
    background-color: #fff;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 100px;
    margin-left: 10%;
    margin-right: 10%;
   
}